{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{# get active and search value from config file and set it to the variable #}
{% set activeAndDeactive = config('IctechShopwareAsCms.config.ActiveDeactive') %}
{% set inquiryFormPopup = config('IctechShopwareAsCms.config.InquiryFormPopup') %}


{% block buy_widget_price %}
    {% if activeAndDeactive == 'true' %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block buy_widget_tax %}
    {% if activeAndDeactive == 'true' %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block buy_widget_buy_form %}
    {% if (activeAndDeactive == true) and (inquiryFormPopup == true) %}
    <div class="product-detail-form-container">
        <div class="col-md-6 pl-0">
            {% block page_product_detail_buy_button_custom %}
                <button type="button"
                        class="btn btn-primary btn-block btn-buy"
                {{ dataBsToggleAttr }}="modal"
                {{ dataBsTargetAttr }}="#customContactForm">
                {{ "contact.customContactLink"|trans|sw_sanitize }}
                </button>
                <div class="modal fade"
                     id="customContactForm"
                     data-backdrop="static"
                     tabindex="-1"
                     role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog" role="dialog">
                        <div class="modal-dialog" role="dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    {% block page_checkout_aside_cancel_order_modal_header_title %}
                                        <h5 class="modal-title">{{ "contact.cusFormTitle"|trans|sw_sanitize }}</h5>
                                    {% endblock %}
                                    {% block page_checkout_aside_cancel_order_modal_header_close_button %}
                                        <button class="close"
                                                type="button"
                                        {{ dataBsDismissAttr }}="modal"
                                        aria-label="Close">
                                        {% sw_icon 'x' %}
                                        </button>
                                    {% endblock %}
                                </div>
                                {% sw_include '@Storefront/storefront/element/cms-element-custom-form/form-types/contact-custom-forms.html.twig' %}
                                <div class="custom-success-msg" style="display: block;padding: 60px;">
                                    <h3>Your request sent succesfully.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>    
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
