{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{#get active and search value from config file and set it to the variable#}
{% set activeAndDeactive = config('IctechShopwareAsCms.config.ActiveDeactive') %}

{% block element_product_desciption_reviews_tabs_navigation_review %}
    {% if activeAndDeactive != 'true' %}
        {% if config('core.listing.showReview') %}
            <li class="nav-item">
                <a class="nav-link {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %} product-detail-tab-navigation-link review-tab"
                   id="{{ reviewTabId }}"
                {{ dataBsToggleAttr }}="tab"
                data-offcanvas-tabs="true"
                href="{{ reviewTabHref }}"
                role="tab"
                aria-controls="{{ reviewTabContent }}"
                aria-selected="true">
                {{ "detail.tabsReview"|trans|sw_sanitize }}
                <span class="product-detail-tab-navigation-icon">
                    {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                </span>
                </a>
            </li>
        {% endif %}
    {% endif %}
{% endblock %}
