{% block cms_form_contact_custom_form %}
    <div class="modal fade"
         id="customContactForm"
         data-backdrop="static"
         tabindex="-1"
         role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="dialog">
            <div class="modal-dialog" role="dialog">
                    <div class="modal-content">
                        <form action="{{ path('frontend.form.inquiry.send') }}"
                              method="post"
                              data-form-csrf-handler="true"
                              data-form-validation="true">
                            {% block cms_form_contact_csrf %}
                                {{ sw_csrf('frontend.form.inquiry.send') }}
                            {% endblock %}
{#                            inquiery model header#}
                        <div class="modal-header">
                            {% block page_checkout_aside_cancel_order_modal_header_title %}
                                <h5 class="modal-title">{{ "contact.cusFormTitle"|trans|sw_sanitize }}</h5>
                            {% endblock %}
                            {% block page_checkout_aside_cancel_order_modal_header_close_button %}
                                <button class="close"
                                        type="button"
                                {{ dataBsDismissAttr }}="modal"
                                aria-label="Close">
                                {% sw_icon 'x' %}
                                </button>
                            {% endblock %}
                        </div>
{#                            inquiery model content#}
                        <div class="modal-body">
                            <div class="form-content">
                                <div class="{{ formRowClass }}">
                                    {% block cms_form_contact_input_first_name %}
                                        {% set firstNameFieldRequired = config('core.basicInformation.firstNameFieldRequired') == true %}
                                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                                            with {
                                            fieldName: 'firstName',
                                            required: firstNameFieldRequired,
                                            additionalClass: 'col-md-6',
                                            label: 'account.personalFirstNameLabel',
                                            placeholder: 'account.personalFirstNamePlaceholder'
                                        }
                                        %}
                                    {% endblock %}
                                    {% block cms_form_contact_input_email %}
                                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                                            with {
                                            fieldName: 'email',
                                            type: 'email',
                                            required: true,
                                            additionalClass: 'col-md-6',
                                            label: 'account.loginMailLabel',
                                            placeholder: 'account.loginMailPlaceholder'
                                        }
                                        %}
                                    {% endblock %}
                                </div>
                                <div class="{{ formRowClass }}">
                                    {% block cms_form_contact_input_phome %}
                                        {% set phoneNumberFieldRequired = config('core.basicInformation.phoneNumberFieldRequired') == true %}
                                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                                            with {
                                            fieldName: 'phone',
                                            required: phoneNumberFieldRequired,
                                            additionalClass: 'col-md-6',
                                            label: 'account.personalPhoneLabel',
                                            placeholder: 'account.personalPhonePlaceholder'
                                        }
                                        %}
                                    {% endblock %}
                                    {% block cms_form_contact_input_subject %}
                                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                                            with {
                                            required: true,
                                            fieldName: 'subject',
                                            additionalClass: 'col-md-6',
                                            label: 'contact.subjectLabel',
                                            placeholder: 'contact.subjectPlaceholder'
                                        }
                                        %}
                                    {% endblock %}
                                </div>
                                <div class="{{ formRowClass }}">
                                    {% block cms_form_contact_comment_textarea %}
                                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-textarea.html.twig'
                                            with {
                                            rows: 5,
                                            required: true,
                                            fieldName: 'description',
                                            additionalClass: 'col-12',
                                            label: 'contact.descriptionLabel',
                                            placeholder: 'contact.descriptionPlaceholder'
                                        }
                                        %}
                                    {% endblock %}
                                </div>
                                {% block cms_form_contact_required_fields_info %}
                                    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-info-required.html.twig' %}
                                {% endblock %}
{#                                {% block cms_form_contact_submit %}#}
{#                                    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-submit.html.twig' %}#}
                                    {% block cms_form_submit %}
                                        <button type="submit" class="btn btn-primary {{ floatEndClass }} mb-3">
                                            {{ ( submitText ? submitText : 'contact.cusSubmitbtn' )|trans }}
                                        </button>
                                    {% endblock %}
{#                                {% endblock %}#}
                            </div>
                        </div>
                </form>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
